build/
dist/
personalLog.txt
Report.odt
nbproject/private/*
.~lock.*
data/results/
callgrind.out.*
cachegrind.out.*
mem-check.txt
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
